/*
Custom Styles by Eman Marcaida
Repository: Comment - Thread
*/

nav a:hover {
    color: white;
}

#center-style {
    background-image: url('../img/chitoge-1.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p a:hover {
    color: white;
}

#disqus_thread {
    background-image: url('../img/chitoge-1.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}